[submodule "theme-beautiful"]
	path = themes/beautiful
	url = https://github.com/halogenica/beautifulhugo.git
	branch = master
[submodule "theme-beautiful-custom"]
	path = themes/beautiful-custom
	url = https://github.com/arthurafarias/beautifulhugo.git
	branch = master
